<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>myParm</param-name>
        <param-value>hi</param-value>
    </context-param>
    <filter>
        <filter-name>Authen</filter-name>
        <filter-class>Filter.Authen</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Authen</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>Controller.mainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewServlet</servlet-name>
        <servlet-class>Controller.addNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewFormServlet</servlet-name>
        <servlet-class>Controller.addNewFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>Controller.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>Controller.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>Controller.productServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyServlet</servlet-name>
        <servlet-class>Controller.buyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>Controller.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>Controller.updateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllOrderServlet</servlet-name>
        <servlet-class>Controller.getAllOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllServlet</servlet-name>
        <servlet-class>Controller.getAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewProductServlet</servlet-name>
        <servlet-class>Controller.addNewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/mainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewServlet</servlet-name>
        <url-pattern>/addNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewFormServlet</servlet-name>
        <url-pattern>/addNewFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyServlet</servlet-name>
        <url-pattern>/buyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/updateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllOrderServlet</servlet-name>
        <url-pattern>/getAllOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllServlet</servlet-name>
        <url-pattern>/getAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewProductServlet</servlet-name>
        <url-pattern>/addNewProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>productServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
</web-app>
